@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.Box {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
  background: #fefffe;
  box-shadow: 0 0 8px gray;
  box-sizing: border-box;
  border-radius: 15px;
}
/*
border: 2px solid black;
*/

.Title {
  position: relative;
  font-family: Rosario;
  font-style: normal;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
}

.Subtitle {
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 18px;
  font-size: 15px;
  color: #000000;
}

.Normaltext {
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bolder;
  font-size: 11px;
  padding-right: 10px;
  padding-top: 3.5px;
  padding-left: 10px;
  line-height: 13px;
  color: #000000;
}
