.Box1 {
  position: relative;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
  background: #ffffff;
  border: 4px solid #e7e6e4;
  box-sizing: border-box;
  border-radius: 10px;
}

.Jobbox {
  position: relative;
  background: #ffffff;
  padding: 30px;
  border: 4px solid #e7e6e4;
  box-sizing: border-box;
  border-radius: 10px;
}

.Normaltext1 {
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  padding-right: 10px;
  padding-top: 3.5px;
  padding-left: 25px;
  line-height: 17px;
  color: #000000;
}

.li {
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  padding-right: 10px;
  padding-top: 3.5px;
  padding-left: 25px;
  line-height: 13px;
  color: #000000;
}

.Normaltext2{
    font-family: Rosario;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 13px;

color: #000000;
}

.line2{
    position: absolute;
left: 14.15%;
right: 80.59%;
top: 49.5%;
bottom: 56.5%;

border: 1px solid #415A80;

}