
.profile-add-button{
    transform: scale(1);
}

.profile-add-button:hover{
    transform: scale(0.98);
}

.profile-input-bar:focus{
    outline: none;
    border-bottom: 4px solid #043353 !important;
}

/*box-shadow:inset 10px 0px 5px gray;*/